Basic level

In [1]:
# 1 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#2
a = [1,3,44,5,6]
b = 0
for i in a:
    b = b+i
print(b)

59

In [3]:
str = input("enter the senence")
reversed_str = ""
for i in reversed(str):
    reversed_str += i 
    
print(reversed_str)

enter the senence i love pranjuu

uujnarp evol i

In [8]:
a = int(input("enter the number for factorial"))
fact = 1
for i in range(1,a+1):
    fact = fact *i
print(fact)

enter the number for factorial 5

120

In [3]:
a = int(input("enter the number "))
num = 11

for i in range(1,num):
    table = i *a
    
    print(table)

enter the number  5

5
10
15
20
25
30
35
40
45
50

In [7]:
l = [1,2,34,4,5,6,7,8,22,143,1354,12345,22222]
even = 0 
odd = 0 
for i in l:
    if i %2 == 0:
        even = even+1
    else: 
        odd = odd +1 
print(even)
print(odd)

8
5

In [9]:
for i in range(1,6):
    square = i **2
    
    print(square)

1
4
9
16
25

In [13]:
a = input("enter a string")
cunt = 0
for i in a:
    cunt = cunt+1 
print(cunt)

enter a string my name is shubham

18

In [14]:
l = [1,2,43,5,67,8,4,6,43,78,3,675,346,98]
ab = len(l)
count = 0
for i in l: 
    count = count +i
    
print(count/ab)

98.5

In [17]:
n = int(input("enter the numaber"))
count = 0 
for i in range(1,n+1):
    count = count +i
print(count)

enter the numaber 10

55

Intermidate Level

In [9]:
l = [1,23,4,5,6,7,9,0,8,67,4,675,4,7,43,76,4,76,4,7,45,873]
unique = []
duplicates = False 
for i in l:
    if i in unique:
        dupliates = True 
        break 
    else:
        unique.append(i)
        
if has_duplicates:
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list does not contain duplicates.

In [28]:
start = int(input("enter the number"))
end = int(input("enter the end number"))

for i in range(start, end + 1):
    if i > 1:
        prime = True  # Initialize prime as True here
        for j in range(2, int(i ** 0.5) + 1):
            if i % j == 0:
                prime = False  # Set prime to False if a factor is found
                break
        if prime:
            print(i)

enter the number 5
enter the end number 9

5
7

In [31]:
vowels = input("enter the string")

c = []
a = set('aeiou')
for char in vowels:
    if char in a :
        c.append(char)
        
print(len(c))

enter the string my name is shubham and brother name is sanket

13

In [1]:
l=[
    [1000, 5, 3],
    [756, 2, 80],
    [4, 6, 9]
]

max_value = float('-inf')
for row in l:
    for i in row:
        if i > max_value:
            max_value = i 
print(max_value)

1000

In [2]:
l = [1, 2, 43, 54, 56, 4, 5, 6, 7, 5, 675, 75, 4, 54, 5, 4, 54, 5, 4]
remove = 5
update_l = []
for i in l:
    if i != remove:
        update_l.append(i)
print(update_l)

[1, 2, 43, 54, 56, 4, 6, 7, 675, 75, 4, 54, 4, 54, 4]

In [6]:
start = 1
end = 5 
for i in range(1,6):
    for j in range(1,11):
        table = i*j
        print(f"{i} x {j} = {table}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
l = [423,35,534,35,35,23565,344,6,43,56,3,46,354,99]
tem = []
for i in l:
    cel = ((i-32)*5)/9
    tem.append(cel)
print(tem)

[217.22222222222223, 1.6666666666666667, 278.8888888888889, 1.6666666666666667, 1.6666666666666667, 13073.888888888889, 173.33333333333334, -14.444444444444445, 6.111111111111111, 13.333333333333334, -16.11111111111111, 7.777777777777778, 178.88888888888889, 37.22222222222222]

In [4]:
l = [1,2,3,45,56,7,87,9]
l1 = [3,8,3,5,2,9,1,78]
k = []
for i in l:
    for j in l1:
        if j == i:
            k.append(j)
print(k)

[1, 2, 3, 3, 9]

In [7]:
n = int(input("nuber of rows to print in the right angle triangle"))
for i in range(1,n+1):
    for j in range(i):
        print('*',end= ' ')
    print()

nuber of rows to print in the right angle triangle 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [11]:
num= int(input("enter the first number"))
num1 = int(input("enter the second number"))
gcd = 1 
if num < num1:
    smaller = num 
else:
    smaller = num1 
    
for i in range(1,smaller+1):
    if num%i==0 and num1%i == 0:
        gcd = i 
print(gcd)

enter the first number 39
enter the second number 33

3

Advanced Level

In [11]:
def add(n):
    total=  sum([i for i in range(0,n+1)])
    return total 
    
n = int(input("enter the no of digit"))
result = add(n)
print(result)

enter the no of digit 10

55

In [12]:
def prime(n):
    factors = [ i for i in range(2,n+1) if n%i== 0]
    return factors 

n = int(input())
result = prime(n)
print(result)

 33

[3, 11, 33]

In [2]:
l = [11,223,4,5,3,5,34,633245]
l2 =[x for i,x in enumerate(l) if x not in l[:i]]
print(l2)

[11, 223, 4, 5, 3, 34, 633245]

In [7]:
def palindrome(n):
    l = str(n)
    return l == l[::-1]
def pali(limit):
    return [i for i in range(1,limit+1) if palindrome(i)]
    
n = int(input())
result = pali(n)
print(result)

 33

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33]

In [1]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
l = [1,2,3,4,5,6,7,8]
even = [i for i in l if i%2 == 0 ]
odd = [ i for i in l if i%2 !=0]

a = sum(even)
b = sum(odd)
print(a)
print(b)

20
16

In [2]:
l = range(1,11)
square =[ i**2 for i in l if i%2 !=0]
print(square)

[1, 9, 25, 49, 81]

In [5]:
keys = ["a", "b", "c"]
values = [1, 2, 3]

l ={key: value for key, value in zip(keys,values)}
print(l)

{'a': 1, 'b': 2, 'c': 3}

In [2]:
a = 'shubham is my name'
a = a.lower()
b = [char for char in a if char in  'aeiou']
print(b)

['u', 'a', 'i', 'a', 'e']

In [4]:
a = ["Hello123", "45World", "abc567", "def"]
b = [''.join(char for char in string if char.isdigit()) for string in a]
print(b)

['123', '45', '567', '']

##Challenge Level

In [5]:
def sieve_of_eratosthenes(limit):
    # Create a list to track prime numbers, initially assuming all numbers are prime
    is_prime = [True] * (limit + 1)
    
    # 0 and 1 are not prime numbers
    is_prime[0] = is_prime[1] = False
    
    # Apply the Sieve of Eratosthenes algorithm
    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False
    
    # Use list comprehension to generate a list of prime numbers
    primes = [num for num in range(2, limit + 1) if is_prime[num]]
    
    return primes

# Input limit for prime number generation
limit = int(input("Enter the limit for prime numbers: "))

# Generate and display the list of prime numbers up to the given limit
prime_list = sieve_of_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_list)

Enter the limit for prime numbers:  50

Prime numbers up to 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [10]:
def triplates(lim):
    trip = [ (a,b,c) for a in range(1,lim+1) for b in range(a,lim+1) for c in range(b,limit+1) if a**2 + b**2 == c**2]
    return trip

lim = int(input("enter the limit"))
res = triplates(lim)
print(res)

enter the limit 10

[(3, 4, 5), (6, 8, 10)]

In [12]:
from itertools import product
l1 = [1, 2, 3]
l2 = ['A', 'B']

b = [(i,j) for i,j in product(l1,l2)]

print(b)

[(1, 'A'), (1, 'B'), (2, 'A'), (2, 'B'), (3, 'A'), (3, 'B')]

In [19]:
from statistics import mean,median,mode
l = [1,3,4,6,35,245,63,5,6,3,5,3,5,6723,4,63,54]
l_mean = mean(l)
l_median = median(l)
l_mode = mode(l)

print(f"mean = {l_mean} ,median = {l_median}, mode = {l_mode} ")

mean = 425.1764705882353 ,median = 5, mode = 3

In [20]:
def generate_pascals_triangle(num_rows):
    triangle = [[1] * (i + 1) for i in range(num_rows)]
    for i in range(2, num_rows):
        for j in range(1, i):
            triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
    return triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)))

# Input number of rows for Pascal's triangle
num_rows = int(input("Enter the number of rows for Pascal's triangle: "))

# Generate Pascal's triangle and print it
pascals_triangle = generate_pascals_triangle(num_rows)
print("Pascal's Triangle:")
print_pascals_triangle(pascals_triangle)

Enter the number of rows for Pascal's triangle:  10

Pascal's Triangle:
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

In [21]:
# Function to calculate the factorial of a number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Calculate the sum of digits of the factorial of numbers from 1 to 5 using list comprehension
sum_of_digits = [sum(map(int, str(factorial(i)))) for i in range(1, 6)]

# Display the results
for i, n in enumerate(range(1, 6), 1):
    print(f"Sum of digits of {n}! = {sum_of_digits[i-1]}")

Sum of digits of 1! = 1
Sum of digits of 2! = 2
Sum of digits of 3! = 6
Sum of digits of 4! = 6
Sum of digits of 5! = 3

In [24]:
# Input sentence
sentence = input("Enter a sentence: ")

# Split the sentence into words using whitespace as the delimiter
words = sentence.split()

# Find the longest word using list comprehension
longest_word = max(words, key=lambda word: len(word))

# Display the longest word
print("The longest word in the sentence is:", longest_word)

Enter a sentence:  shubham barbaile badrinathslkjh

The longest word in the sentence is: badrinathslkjh

In [25]:
# Function to count vowels in a string
def count_vowels(string):
    vowels = "aeiouAEIOU"
    return sum(1 for char in string if char in vowels)

# Input list of strings
strings = ["Hello", "Python", "OpenAI", "This is a test"]

# Filter strings with more than three vowels using list comprehension
filtered_strings = [string for string in strings if count_vowels(string) > 3]

# Display the filtered strings
print("Strings with more than three vowels:")
for string in filtered_strings:
    print(string)

Strings with more than three vowels:
OpenAI
This is a test

In [27]:
b = sum(i for i in range(1,1001))
print(b)

500500

In [29]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

def is_palindrome(num):
    return str(num) == str(num)[::-1]

# Generate a list of prime palindromic numbers using list comprehension
limit = 1000  # Set your desired upper limit for the search
prime_palindromes = [num for num in range(2, limit) if is_prime(num) and is_palindrome(num)]

# Display the list of prime palindromic numbers
print("Prime palindromic numbers up to", limit, "are:", prime_palindromes)

Prime palindromic numbers up to 1000 are: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]